.about{
    background: #f8f9fa;
    padding: 100px 0;
}

.choto-form {
	margin-top: 21px;
}
.text {
	top: 41%;
}
.footer-card{
    
    
}
.pg{
    padding: 100px 0;
    background: #f8f9fa;
}

footer{
    background: #262a2d;
    color: white;
    
}